

.carousel-indicators li {
	    display: inline-block;
	    width: 48px;
	    height: 5px;
	    margin: 10px;
	    text-indent: 0;
	    cursor: pointer;
	    border: none;
	    border-radius: 50%;
	    background-color: black;
	    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.7);    
	}
		.carousel-indicators .active {
	    width: 40px;
	    height: 5px;
	    margin: 10px;
	    background-color: red;
	    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.7);  
	}

	.carousel-control-prev {
	
	  /* Para WebKit */
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.7)), to(rgba(255,255,255,.0)));
	/* Para Mozilla */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.7), rgba(255,255,255,.25));


	}
	.carousel-control-next{
	
	  /* Para WebKit */
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,.0)), to(rgba(0,0,0,0.7)));
	/* Para Mozilla */
	background: -moz-linear-gradient(left, rgba(255,255,255,.25), rgba(0,0,0,0.7));


	}
	