/* Estilo del 치rea del input[file] */
.drag-drop {
    height: 6em;
    width: 6em;
    background-color: #dd4b39;
    border-radius: 4em;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto 1em;
}

.drag-drop span.desc {
    display: block;
    font-size: .65em;
    padding: 0 .3em;
    color: #fff;
}

input[type="file"] {
        height: 8em;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
}

/* Estilo del 치rea del input[file] con :hover */

.drag-drop:hover, input[type="file"]:hover {
    background-color: #690606;
    cursor: pointer;
}

.drag-drop:hover .pulsating {
    animation: pulse1 1s linear infinite;
    animation-direction: alternate ;
    -webkit-animation: pulse1 1s linear infinite;
    -webkit-animation-direction: alternate ;
}

/* Composici칩n del icono de Upload con FontAwesome */
.fa-stack { margin-top: .2em; }

.fa-stack .top { color: white; }

.fa-stack .medium {
    color: black;
    text-shadow: 0 0 .25em #666;
}

.fa-stack .bottom { color: rgba(225, 225, 225, .75); }

/* Keyframing de la animaci칩n */

@keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-moz-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-webkit-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-ms-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}
